:root {
    --color1: #FFCDB2;
    --color2: #FFB4A2;
    --color3: #E5989B;
    --color4: #B5838D;
    --color5: #6D6875;
    --white-font: #FFFFFF;
    --black-font: #000000;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body {
  transition: background 0.6s ease-in-out;
}

.main-container {
    max-width: 72em;
    margin: 0 auto;
    font: 1em Helvetica, arial, sans-serif;
    color: var(--white-font);
}

.main-container > * {
    min-height: 2em;
}

.banner {
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgba(0, 123, 255, 0));
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-size: 1.20em;
    text-align: center;
    gap: 2em;
}

.banner-title {
    font-size: 3em;
    color: var(--black-font);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.banner-subtitle {
    font-size: 2em;
    color: var(--black-font);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.content-section {
    display: contents;
}

/* Horizontal Cards */

.horizontal-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 0.50em;
    gap: 1.25em;


    opacity: 0;
    translate: -50%;
    transition: 600ms ease;
}

.horizontal-card.show {
    opacity: 1;
    translate: 0;
}

.horizontal-content-image {
    width: 66.6%;
    object-fit: cover;
    height: 100%;
    border-radius: 0.50em;
    overflow: hidden;
}

.horizontal-content-blurb {
    width: 33.3%;
    min-width: 33.3%;
    font-size: 1.10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 1.25em;
    padding: 1em;
}

/* Vertical Cards */

.vertical-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.50em;
    gap: 1.25em;

    opacity: 0;
    translate: -50%;
    transition: 600ms ease;
}

.vertical-card.show {
    opacity: 1;
    translate: 0;
}

.vertical-content-image {
    width: 80%;
    height: 30em;
    object-fit: cover;
    border-radius: 0.50em;
    margin: 1.25em auto; 
}

.vertical-content-blurb {
    width: 65%;
    height: 25%;
    font-size: 1.10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 1.25em auto;
}

/* Backgrounds */

.bg-layer {
  position: fixed;
  background-position: center center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.8s ease-in-out;
  z-index: -1;
}

.bg-layer::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 10%, rgba(0,0,0,0) 40%, rgba(0,0,0,0) 60%, rgba(0,0,0,0.8) 90%, rgba(0,0,0,0.8) 100%);
  pointer-events: none;
}

#bgBlack {
  background: black;
  opacity: 1;
}

#bg0 {
  background: black;
  opacity: 1;
}

#bg1 {
  background-image: url("./images/background1.png");
  height: 100%;
  width: 100%;
  opacity: 0;
}

#bg2 {
  background-image: url("./images/background2.png");
  opacity: 0;
}

#bg3 {
  background-image: url("./images/background3.png");
  opacity: 0;
}

#bg4 {
  background-image: url("./images/background4.png");
  opacity: 0;
}

#bm1, #bm2, #bm3, #bm4{
  display: none;
}

/* Grid IDs */

#a1 {
    grid-area: aa1;
}

#b1 {
    grid-area: bb1;
}

#ab2 {
    grid-area: ab2;
}

#c2 {
    grid-area: cc2;
}

#a3 {
    grid-area: aa3;
}

#b3 {
    grid-area: bb3;
}

#a4 {
    grid-area: aa4;
}

#b4 {
    grid-area: bb4;
}

#c4 {
    grid-area: cc4;
}

#verticalTransition1 {
    grid-area: vt1;
}

#verticalTransition2 {
    grid-area: vt2;
}

#verticalTransition3 {
    grid-area: vt3;
}

#verticalTransition4 {
    grid-area: vt4;
}

/* Container Grid */

.main-container {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-auto-rows: 32px;
    column-gap: 1em;
}
  
.main-container {
    grid-template:
        " .   .   .   . " minmax(8em, auto)    
        "vt1 vt1 vt1 vt1" minmax(32em, auto)
        " .   .   .   . " minmax(24em, auto)    
        "aa1 aa1 aa1 aa1" minmax(32em, auto)
        " .   .   .   . " minmax(2em, auto)    
        "bb1 bb1 bb1 bb1" minmax(32em, auto)
        " .   .   .   . " minmax(24em, auto)    
        "vt2 vt2 vt2 vt2" minmax(32em, auto)
        " .   .   .   . " minmax(24em, auto)    
        "ab2 ab2 ab2 ab2" minmax(32em, auto)
        " .   .   .   . " minmax(2em, auto)    
        "cc2 cc2 cc2 cc2" minmax(32em, auto)
        " .   .   .   . " minmax(24em, auto)    
        "vt3 vt3 vt3 vt3" minmax(32em, auto)
        " .   .   .   . " minmax(24em, auto)    
        "aa3 aa3 aa3 aa3" minmax(32em, auto)
        " .   .   .   . " minmax(2em, auto)    
        "bb3 bb3 bb3 bb3" minmax(32em, auto)
        " .   .   .   . " minmax(24em, auto)    
        "vt4 vt4 vt4 vt4" minmax(32em, auto)
        " .   .   .   . " minmax(24em, auto)    
        "aa4 aa4 aa4 aa4" minmax(32em, auto)
        " .   .   .   . " minmax(2em, auto)    
        "bb4 bb4 bb4 bb4" minmax(32em, auto)
        " .   .   .   . " minmax(2em, auto)    
        "cc4 cc4 cc4 cc4" minmax(32em, auto)
}
    


@media (min-width: 32em) and (max-resolution: 200dpi) {
    .main-container {
        grid-template:
        " .   .   .   .   .   .   .   . " minmax(8em, auto)
        " .  vt1 vt1 vt1 vc1 vc1 vc1  . " minmax(32em, auto)
        " .   .   .   .   .   .   .   . " minmax(24em, auto)
        " .  aa1 aa1 aa1 aa1 aa1 aa1  . " minmax(32em, auto)
        " .   .   .   .   .   .   .   . " minmax(2em, auto)
        " .  bb1 bb1 bb1 bb1 bb1 bb1  . " minmax(32em, auto)
        " .   .   .   .   .   .   .   . " minmax(8em, auto)
        " .  vt2 vt2 vt2 vt2 vt2 vt2  . " minmax(32em, auto)
        " .   .   .   .   .   .   .   . " minmax(24em, auto)
        " .  ab2 ab2 ab2 ab2 ab2 ab2  . " minmax(32em, auto)
        " .   .   .   .   .   .   .   . " minmax(2em, auto)
        " .  cc2 cc2 cc2 cc2 cc2 cc2  . " minmax(32em, auto)
        " .   .   .   .   .   .   .   . " minmax(24em, auto)
        " .  vt3 vt3 vt3 vt3 vt3 vt3  . " minmax(32em, auto)
        " .   .   .   .   .   .   .   . " minmax(24em, auto)
        " .  aa3 aa3 aa3 aa3 aa3 aa3  . " minmax(32em, auto)
        " .   .   .   .   .   .   .   . " minmax(2em, auto)
        " .  bb3 bb3 bb3 bb3 bb3 bb3  . " minmax(32em, auto)
        " .   .   .   .   .   .   .   . " minmax(24em, auto)
        " .  vt4 vt4 vt4 vt4 vt4 vt4  . " minmax(32em, auto)
        " .   .   .   .   .   .   .   . " minmax(24em, auto)
        " .  aa4 aa4 aa4 aa4 aa4 aa4  . " minmax(32em, auto)
        " .   .   .   .   .   .   .   . " minmax(2em, auto)
        " .  bb4 bb4 bb4 bb4 bb4 bb4  . " minmax(32em, auto)
        " .   .   .   .   .   .   .   . " minmax(2em, auto)
        " .  cc4 cc4 cc4 cc4 cc4 cc4  . " minmax(32em, auto)
    }
    .vertical-content-blurb {
        font-size: 1.20em;
    }
    .horizontal-content-blurb {
        font-size: 1.20em;
    }
    .banner {
        font-size: 1.40em;
    }
}



@media (min-width: 50em) and (max-resolution: 200dpi) {
    .main-container {
        grid-template:
        " .   .   .   .   .   .   .   .   .   .   .   . " minmax(16em, auto)
        " .  vt1 vt1 vt1 vt1 vt1 vt1 vt1 vt1 vt1 vt1  . " minmax(32em, auto)
        " .   .   .   .   .   .   .   .   .   .   .   . " minmax(32em, auto)
        " .  aa1 aa1 aa1 aa1 aa1 aa1 aa1 aa1 aa1 aa1  . " minmax(32em, auto)
        " .   .   .   .   .   .   .   .   .   .   .   . " minmax(2em, auto)
        " .  bb1 bb1 bb1 bb1 bb1 bb1 bb1 bb1 bb1 bb1  . " minmax(32em, auto)
        " .   .   .   .   .   .   .   .   .   .   .   . " minmax(32em, auto)
        " .  vt2 vt2 vt2 vt2 vt2 vt2 vt2 vt2 vt2 vt2  . " minmax(32em, auto)
        " .   .   .   .   .   .   .   .   .   .   .   . " minmax(32em, auto)
        " .  ab2 ab2 ab2 ab2 ab2 ab2 ab2 ab2 ab2 ab2  . " minmax(32em, auto)
        " .   .   .   .   .   .   .   .   .   .   .   . " minmax(2em, auto)
        " .  cc2 cc2 cc2 cc2 cc2 cc2 cc2 cc2 cc2 cc2  . " minmax(32em, auto)
        " .   .   .   .   .   .   .   .   .   .   .   . " minmax(32em, auto)
        " .  vt3 vt3 vt3 vt3 vt3 vt3 vt3 vt3 vt3 vt3  . " minmax(32em, auto)
        " .   .   .   .   .   .   .   .   .   .   .   . " minmax(32em, auto)
        " .  aa3 aa3 aa3 aa3 aa3 aa3 aa3 aa3 aa3 aa3  . " minmax(32em, auto)
        " .   .   .   .   .   .   .   .   .   .   .   . " minmax(2em, auto)
        " .  bb3 bb3 bb3 bb3 bb3 bb3 bb3 bb3 bb3 bb3  . " minmax(32em, auto)
        " .   .   .   .   .   .   .   .   .   .   .   . " minmax(32em, auto)
        " .  vt4 vt4 vt4 vt4 vt4 vt4 vt4 vt4 vt4 vt4  . " minmax(32em, auto)
        " .   .   .   .   .   .   .   .   .   .   .   . " minmax(32em, auto)
        " .  aa4 aa4 aa4 aa4 aa4 aa4 aa4 aa4 aa4 aa4  . " minmax(32em, auto)
        " .   .   .   .   .   .   .   .   .   .   .   . " minmax(2em, auto)
        " .  bb4 bb4 bb4 bb4 bb4 bb4 bb4 bb4 bb4 bb4  . " minmax(32em, auto)
        " .   .   .   .   .   .   .   .   .   .   .   . " minmax(2em, auto)
        " .  cc4 cc4 cc4 cc4 cc4 cc4 cc4 cc4 cc4 cc4  . " minmax(32em, auto)
    }
    .vertical-content-blurb {
        font-size: 1.40em;
    }
    .horizontal-content-blurb {
        font-size: 1.40em;
    }
    .banner {
        font-size: 1.70em;
    }
}